.game-over {
    font-size: larger;
    font-weight: bold;
}

#score h4 {
    margin-bottom: 16px;
}

#score p {
    margin-bottom: 0;
}

#round-result b {
    text-transform: capitalize;
}

.players {
    grid-template-columns: 1fr 1fr;
    margin: var(--typography-spacing-vertical);
}

.player {
    background-color: var(--card-sectionning-background-color);
    padding: var(--typography-spacing-vertical);
}

.player p {
    font-size: 3em;
}

.winner{
    background-color: var(--primary-focus);
}

.user-choices {
    grid-template-columns: 1fr 1fr 1fr;
}

.user-choices button {
    font-size: 3em;
}